<!DOCTYPE html>
<html>
<head>
    <title>Natural Disaster Report Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="loading" style="position: fixed; left: 0; top: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; background: white; z-index: 1000;">
        <img src="static/loading.gif" alt="Loading..." style="width: auto; height: auto;"/>
      </div>
    <div class="container-fluid mt-5">
        <div id="introduction" class="text-center mb-5">
            <h1>Natural Disaster Report Dashboard</h1>
            <h3>Mehmet Kubilay Karatopçu / 85829</h3>
            <h3>Elif Yıldırım Oktar / 28159</h3>
            <p style="margin-top: 24px; margin-bottom: 8px;"> Our aim is to explain relations between several development indicators and natural disaster damages for countries by using visualization techniques based on EM-DAT Project dataset.</p>
            <p>
                Our motivation is that uncovering this relationship might lead under-developed countries to understand what precautions should be taken in order to prevent damages,
                especially if we can empirically show that these damages were prevented by the developed countries.
            </p>
            </b>
            </b>
        </div>

        <h1 style="margin-left: 5%;" >Part I: Natural Disasters</h1>
        <!-- Plots will be dynamically inserted here -->
        <div class="container-fluid" id="plots-container"></div>
            <!-- Couplets: Two plots side by side -->

            <!-- Plot 1 --> <!-- Plot 2 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6">
                            <div id="plot-1" class="plot"></div>
                        </div>
                        <div class="col-xl-6">
                            <div id="plot-2" class="plot"></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    There appears to be a general trend of decreasing deaths over time, with some fluctuations. Notably, the decades of 1920, 1930 show higher numbers of deaths.
                </div>
            </div>

            <!-- Plot 3 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div id="plot-3" class="plot"></div>
                </div>
                <div class="card-footer text-muted">
                    A key issue of data quality is the consistency of even reporting over time. For long-term trends in natural disaster events, we know that reporting and recording of events today is much more advanced and complete than in the past. This can lead to significant underreporting or uncertainty of events in the distant past. In the chart here we show data on the number of reported natural disasters over time by disaster type.
                </div>
            </div>

            <!-- Plot 4 --> <!-- Plot 5 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6">
                            <div id="plot-4" class="plot"></div>
                        </div>
                        <div class="col-xl-6">
                            <div id="plot-5" class="plot"></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Almost 50 percent of disasters are occured in Asia and they are mostlt Floods or Storms.
                </div>
            </div>

            <!-- Plot 6 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div id="plot-6" class="plot"></div>
                </div>
                <div class="card-footer text-muted">
                    This plot shows the number of natural disasters that occurred on a country basis. We can see that USA, India, China and Indonesia have signifacantly more disasters than other countries.
                </div>
            </div>

            <!-- Plot 7 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div id="plot-7" class="plot"></div>
                </div>
                <div class="card-footer text-muted" id="explanation7">
                    This plot shows the total number of losses on a country basis. As expected high population countries have greater losses.
                </div>
            </div>

            <!-- Plot 9 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div id="plot-9" class="plot"></div>
                </div>
                <div class="card-footer text-muted" id="explanation9">
                    In this plot we can see the total losses in a decadel basis.
                </div>
            </div>

            <div style="margin-left: 5%; margin-right: 5%;" id="part-2" class="mb-5">
                <h1>Part II: Development vs Natural Disasters</h1>
                <p>
                    In this part we are going to explain the relationship. For the development part we are going to use Human Development Report data from United Nations Development Programme.
                    For our analysis we use three main features from the data: </b>
                    <ol>
                        <li>Human Development Index (HDI): The Human Development Index (HDI) is a statistical composite index of life expectancy, education (mean years of schooling completed and expected years of schooling upon entering the education system),
                            and per capita income indicators, which is used to rank countries into four tiers of human development. </li>
                        <li>Gender Inequality Index (GII): It uses three dimensions to measure opportunity cost: reproductive health, empowerment, and labor market participation.</li>
                        <li>Gross National Income Per Capita (GNIPC)</li>
                      </ol>
                    And for the natural disaster damage part we are going to use Death Per Event feature which is Total Deaths from a disaster type divided by the number of events.
                </p>
            </div>
            <h2 style="margin-left: 5%;">Flood</h3>
            <!-- Plot 11 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div id="plot-11" class="plot"></div>
                </div>
                <div class="card-footer text-muted" id="explanation11">
                    This histograms show the total number of Flood event distribution by Country. So most of the countries experienced Flood between 0-9 times.
                </div>
            </div>

            <!-- Plot 12 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div id="plot-12" class="plot"></div>
                </div>
                <div class="card-footer text-muted" id="explanation12">
                    Here we can see the relationship between GII and the Death Per Event including all countries. It can be said that there is a positive correlation between GII and DeathPerEvent. In other words, if gender 
                    inequality increases the average loss by event increases.
                </div>
            </div>

            <!-- Plot 13 --> <!-- Plot 16 --> <!-- Plot 17 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4">
                            <div id="plot-13" class="plot"></div>
                        </div>
                        <div class="col-xl-4">
                            <div id="plot-16" class="plot"></div>
                        </div>
                        <div class="col-xl-4">
                            <div id="plot-17" class="plot"></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    In this plot it can be seen than all three relationships for the countries that have suffient number of Flood events. We can strongly argue that all three parameters are correlated in a way that development 
                    is preventive for Flood Disasters.
                </div>
            </div>

            <h2 style="margin-left: 5%;">Earthquake</h3>
            <!-- Plot 18 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div id="plot-18" class="plot"></div>
                </div>
                <div class="card-footer text-muted" id="explanation18">
                    This histograms show the total number of Earthquake event distribution by Country. So most of the countries experienced Flood between 0-5 times.
                </div>
            </div>

            <!-- Plot 19 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div id="plot-19" class="plot"></div>
                </div>
                <div class="card-footer text-muted" id="explanation19">
                    In this plot it can be seen that the relationship between HDI and DeathPerEvent for Earthquake for the countries having suffient number of Earthquake events. However, although the correlation line shows a negative correlation
                    Japan, Türkiye, and Indonesia are seem to be the same level of losses. And as from our knowledge the losses in Japan should significantly be lower than Türkiye. When we delve into details of the data wee see that
                    the losses are not due to Ground Movements but Tsunami. Therefore, in our analysis below we only used the Ground Movement deaths since it is the part that we can prevent with the technology and education we have, 
                    not Tsunami. 
                </div>
            </div>
            
            <!-- Plot 20 --> <!-- Plot 21 --> <!-- Plot 22 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4">
                            <div id="plot-20" class="plot"></div>
                        </div>
                        <div class="col-xl-4">
                            <div id="plot-21" class="plot"></div>
                        </div>
                        <div class="col-xl-4">
                            <div id="plot-22" class="plot"></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    In this plot it can be seen than all three relationships for the countries that have suffient number of Earthquake events. We can strongly argue that all three parameters are correlated in a way that development 
                    is preventive for Earthquake Disasters.
                </div>
            </div>
            <h2 style="margin-left: 5%;">Storm</h3>
            <!-- Plot 23 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div id="plot-23" class="plot"></div>
                </div>
                <div class="card-footer text-muted" id="explanation23">
                    This histograms show the total number of Storm event distribution by Country. So most of the countries experienced Storm between 0-20 times.
                </div>
            </div>

            <!-- Plot 25 --> <!-- Plot 25 --> <!-- Plot 26 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4">
                            <div id="plot-24" class="plot"></div>
                        </div>
                        <div class="col-xl-4">
                            <div id="plot-25" class="plot"></div>
                        </div>
                        <div class="col-xl-4">
                            <div id="plot-26" class="plot"></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    In this plot it can be seen than all three relationships for the countries that have suffient number of Storm events. We can strongly argue that all three parameters are correlated in a way that development 
                    is preventive for Storm Disasters.
                </div>
            </div>            

        </div>
    </div>
    <style>
        .custom-card {
          width: 90%; /* Adjust the width as needed */
          margin: 0 auto; /* Center the card horizontally */
          float: none; /* Additional property to ensure it doesn't float */
        }
        
        .custom-card .card-body .plot {
          display: flex;
          justify-content: center;
          text-align: center;
        }
      
        .custom-card .card-body .plot .js-plotly-plot {
          margin: auto !important;
        }
      
        .plotly-graph-div {
          margin: auto !important;
        }

        #loading {
            position: fixed;
            width: 100%;
            height: 100%;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000; /* Ensure it's above other content */
        }

        #loading img {
            width: auto; /* or specify a size */
            height: auto; /* maintain aspect ratio */
        }

      </style>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/app.js"></script> <!-- Adjust the path based on your static folder structure -->
</body>
</html>
