<!DOCTYPE html>
<html>
<head>
    <title>Natural Disaster Report Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="loading" style="position: fixed; left: 0; top: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; background: white; z-index: 1000;">
        <img src="static/loading.gif" alt="Loading..." style="width: auto; height: auto;"/>
      </div>
    <div class="container-fluid mt-5">
        <div id="introduction" class="text-center mb-5">
            <h1>Natural Disaster Report Dashboard</h1>
            <h3>Mehmet Kubilay Karatopçu / 85829</h3>
            <h3>Elif Yıldırım Oktar / 28159</h3>
            <p style="margin-top: 24px; margin-bottom: 8px;"> Our aim is to explain relations between several development indicators and natural disaster damages for countries by using visualization techniques based on EM-DAT Project dataset.</p>
            <p>
                Our motivation is that uncovering this relationship might lead under-developed countries to understand what precautions should be taken in order to prevent damages,
                especially if we can empirically show that these damages were prevented by the developed countries.
            </p>
            </b>
            </b>
        </div>

        <h1 style="margin-left: 5%;" >Part I: Natural Disasters</h1>
        <!-- Plots will be dynamically inserted here -->
        <div class="container-fluid" id="plots-container"></div>
            <!-- Couplets: Two plots side by side -->

            <!-- Plot 1 --> <!-- Plot 2 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6">
                            <div id="plot-1" class="plot"></div>
                        </div>
                        <div class="col-xl-6">
                            <div id="plot-2" class="plot"></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    There appears to be a general trend of decreasing deaths over time, with some fluctuations. Notably, the decades of 1920, 1930 show higher numbers of deaths.
                </div>
            </div>

            <!-- Plot 3 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div id="plot-3" class="plot"></div>
                </div>
                <div class="card-footer text-muted">
                    A key issue of data quality is the consistency of even reporting over time. For long-term trends in natural disaster events, we know that reporting and recording of events today is much more advanced and complete than in the past. This can lead to significant underreporting or uncertainty of events in the distant past. In the chart here we show data on the number of reported natural disasters over time by disaster type.
                </div>
            </div>

            <!-- Plot 4 --> <!-- Plot 5 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6">
                            <div id="plot-4" class="plot"></div>
                        </div>
                        <div class="col-xl-6">
                            <div id="plot-5" class="plot"></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Almost 50 percent of disasters occur in Asia, and they are predominantly floods or storms.
                </div>
            </div>

            <!-- Plot 6 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div id="plot-6" class="plot"></div>
                </div>
                <div class="card-footer text-muted">
                    This plot illustrates the number of natural disasters occurring in each country. Notably, the USA, India, China, and Indonesia experience significantly more disasters compared to other nations.
                </div>
            </div>

            <!-- Plot 7 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div id="plot-7" class="plot"></div>
                </div>
                <div class="card-footer text-muted" id="explanation7">
                    This plot displays the total number of losses on a per-country basis. As anticipated, countries with larger populations tend to incur greater losses.
                </div>
            </div>

            <!-- Plot 9 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div id="plot-9" class="plot"></div>
                </div>
                <div class="card-footer text-muted" id="explanation9">
                    This plot illustrates the total losses on a decade-by-decade basis.
                </div>
            </div>

            <div style="margin-left: 5%; margin-right: 5%;" id="part-2" class="mb-5">
                <h1>Part II: Development vs Natural Disasters</h1>
                <p>
                    In this section, we will elucidate the relationship between human development and the impact of natural disasters. For the aspect of development, we will employ data from the Human Development Report provided by the United Nations Development Programme. 
                    Our analysis will focus on three principal indicators from the dataset: </b>
                    <ol>
                        <li>Human Development Index (HDI): This composite index integrates indicators of life expectancy, education (mean years of schooling completed and expected years of schooling at entry),
                             and per capita income to classify countries into four tiers of human development. </li>
                        <li>Gender Inequality Index (GII): It uses three dimensions to measure opportunity cost: reproductive health, empowerment, and labor market participation.</li>
                        <li>Gross National Income Per Capita (GNIPC): This economic indicator reflects the average income of a country's citizens.</li>
                    </ol>
                    For the component related to natural disaster impact, we will utilize the 'Death Per Event' metric, which represents the total deaths attributed to a disaster type divided by the number of such events.
                </p>
            </div>
            <h2 style="margin-left: 5%;">Flood</h3>
            <!-- Plot 11 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div id="plot-11" class="plot"></div>
                </div>
                <div class="card-footer text-muted" id="explanation11">
                    This histogram illustrate the distribution of total flood events by country. It is evident that the majority of countries have experienced floods between 0 to 9 times
                </div>
            </div>

            <!-- Plot 12 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div id="plot-12" class="plot"></div>
                </div>
                <div class="card-footer text-muted" id="explanation12">
                    In this analysis, we observe the relationship between the Gender Inequality Index (GII) and Death Per Event across all countries. There appears to be a positive correlation between GII and Death Per Event, 
                    suggesting that an increase in gender inequality is associated with a rise in average losses per event.
                </div>
            </div>

            <!-- Plot 13 --> <!-- Plot 16 --> <!-- Plot 17 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4">
                            <div id="plot-13" class="plot"></div>
                        </div>
                        <div class="col-xl-4">
                            <div id="plot-16" class="plot"></div>
                        </div>
                        <div class="col-xl-4">
                            <div id="plot-17" class="plot"></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    This plot demonstrates the three distinct relationships for countries that have experienced a sufficient number of flood events.
                    It strongly suggests that the three parameters are interrelated, indicating that development plays a preventive role in mitigating the impact of flood disasters.
                </div>
            </div>

            <h2 style="margin-left: 5%;">Earthquake</h3>
            <!-- Plot 18 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div id="plot-18" class="plot"></div>
                </div>
                <div class="card-footer text-muted" id="explanation18">
                    This histogram displays the distribution of total earthquake events by country. It reveals that the majority of countries have experienced earthquakes between 0 to 5 times.
                </div>
            </div>

            <!-- Plot 19 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div id="plot-19" class="plot"></div>
                </div>
                <div class="card-footer text-muted" id="explanation19">
                    In this plot, we examine the relationship between the Human Development Index (HDI) and Death Per Event specifically for earthquakes, focusing on countries with a sufficient number of earthquake incidents. While the correlation line indicates a negative correlation overall, notable exceptions like Japan, Türkiye, and Indonesia exhibit similar levels of losses, which is intriguing. Given our understanding that Japan's losses should be markedly lower than those of Türkiye, a deeper investigation into the data reveals that the losses in Japan are predominantly due to tsunamis, not ground movements. Consequently, in the subsequent analysis, we have chosen to focus solely on deaths caused by ground movements. This approach allows us to concentrate on the aspects of earthquake disasters that 
                    can potentially be mitigated through advancements in technology and education, as opposed to tsunamis, which are more challenging to manage.
                </div>
            </div>
            
            <!-- Plot 20 --> <!-- Plot 21 --> <!-- Plot 22 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4">
                            <div id="plot-20" class="plot"></div>
                        </div>
                        <div class="col-xl-4">
                            <div id="plot-21" class="plot"></div>
                        </div>
                        <div class="col-xl-4">
                            <div id="plot-22" class="plot"></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    This plot illustrates the relationships between three key parameters for countries with a significant number of earthquake events.
                    It strongly suggests that there is a correlation among these parameters, indicating that development plays a crucial role in mitigating the impact of earthquake disasters.
                </div>
            </div>
            <h2 style="margin-left: 5%;">Storm</h3>
            <!-- Plot 23 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div id="plot-23" class="plot"></div>
                </div>
                <div class="card-footer text-muted" id="explanation23">
                    These histograms depict the distribution of total storm events by country, revealing that the majority of countries have experienced storms 0 to 20 times
                </div>
            </div>

            <!-- Plot 25 --> <!-- Plot 25 --> <!-- Plot 26 -->
            <div class="card mb-4  text-center custom-card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4">
                            <div id="plot-24" class="plot"></div>
                        </div>
                        <div class="col-xl-4">
                            <div id="plot-25" class="plot"></div>
                        </div>
                        <div class="col-xl-4">
                            <div id="plot-26" class="plot"></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    This plot demonstrates the interrelationships among three key parameters for countries that have experienced a sufficient number of storm events. 
                    It strongly suggests that these parameters are interconnected, indicating that development plays a significant role in reducing the impact of storm disasters.
                </div>
            </div>            

        </div>
    </div>
    <style>
        @media (max-width: 1599px) {
            .custom-card .row > div {
                flex: 0 0 100%;
                max-width: 100%;
                padding: 0 5%;
            }

            .plot {
                width: 100%; /* Ensure the plot fills the container */
            }
        }

        .custom-card {
          width: 90%; /* Adjust the width as needed */
          margin: 0 auto; /* Center the card horizontally */
          float: none; /* Additional property to ensure it doesn't float */
        }
        
        .custom-card .card-body .plot {
          display: flex;
          justify-content: center;
          text-align: center;
        }
      
        .custom-card .card-body .plot .js-plotly-plot {
          margin: auto !important;
        }
      
        .plotly-graph-div {
          margin: auto !important;
        }

        #loading {
            position: fixed;
            width: 100%;
            height: 100%;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000; /* Ensure it's above other content */
        }

        #loading img {
            width: auto; /* or specify a size */
            height: auto; /* maintain aspect ratio */
        }

      </style>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/app.js"></script> <!-- Adjust the path based on your static folder structure -->
</body>
</html>
